<h1>Welcome</h1>
<p>Looking for Recipes?</p>
<p>This site shows recipes from people located all over the world.  You can submit your own recipes and rate others.</p>
<p>Register or Login, and start cooking today!</p>

